<div class="container">
    <br><br>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4">Edit Project</h1>
  
          <div class="row">
            <div class="container">
              <br><br>
              <div id="layoutSidenav_content">
                <main>
                  <div class="container-fluid px-4">
                    <div class="row">
                      <form (ngSubmit)="update()">
                        <div class="form-group">
                          <label for="name">Project name:</label>
                          <input type="text" id="name" name="name" [(ngModel)]="projectToUpdate.name" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="creationdate">Creation date:</label>
                          <input type="date" id="creationdate" name="creationdate" [ngModel]="formatDate(projectToUpdate.creationdate)" (ngModelChange)="projectToUpdate.creationdate = $event" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="deadline">Deadline:</label>
                          <input type="date" id="deadline" name="deadline" [ngModel]="formatDate(projectToUpdate.deadline)" (ngModelChange)="projectToUpdate.deadline = $event" class="form-control">
                        </div>
                        <!-- Autres champs du formulaire peuvent être ajoutés ici -->
                        <button type="submit" class="btn btn-primary">Update</button>
                      </form>
                    </div>
                  </div>
                </main>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  