<div class="container mt-3">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Ajouter une nouvelle équipe
        </div>
        <div class="card-body">
          <form [formGroup]="teamForm" (ngSubmit)="addTeam()">
            <div class="mb-3">
              <label for="teamName" class="form-label">Nom de l'équipe</label>
              <input type="text" formControlName="name" class="form-control" id="teamName" placeholder="Entrez le nom de l'équipe" required>
            </div>
        
            <!-- Input pour les emails des utilisateurs -->
            <div class="mb-3">
              <label for="userEmails" class="form-label">Emails des utilisateurs (séparés par des virgules)</label>
              <input type="text" formControlName="userEmails" class="form-control" id="userEmails" placeholder="Ex: user1@example.com,user2@example.com">
            </div>
        
            <!-- Input pour les noms des projets -->
            <div class="mb-3">
              <label for="projectNames" class="form-label">Noms des projets (séparés par des virgules)</label>
              <input type="text" formControlName="projectNames" class="form-control" id="projectNames" placeholder="Ex: Project Alpha,Project Beta">
            </div>
            
            <button type="submit" class="btn btn-primary">Ajouter l'équipe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
