<main class="container-fluid">
    <div class="container-fluid">
        <div class="inner-contents">
            <div class="page-header d-flex align-items-center justify-content-between mr-bottom-30">
                <div class="left-part">
                    <h2 class="text-dark">My Profile</h2>
                    <p class="text-gray mb-0">Lorem ipsum dolor sit amet </p>
                </div>
                <div class="right-part">
                    <form class="search-form w-auto"
                        action="https://wpthemebooster.com/demo/themeforest/html/kleon/search.php">
                        <input type="text" name="search" class=" bg-white form-control" placeholder="Search">
                        <button type="submit" class="btn"><img src="assets/img/svg/search.svg" alt=""></button>
                    </form>
                </div>
            </div>

            <div class="card border-0 candidate-profile">
                <div class="cover-photo bg-size-cover bg-position-center"
                    style="background-image: url('assets/img/cover-photo.jpg');"></div>
                <div class="card-body pt-0">
                    <div class="d-flex align-items-center justify-content-between gap-2 gap-sm-4 mb-5 flex-wrap">
                        <div class="d-flex align-items-center gap-2 gap-sm-4 flex-wrap">
                            <img src="{{user.image}}" alt="img" width="160" height="160"
                                class="profile-photo rounded-2">

                                <input type="file" [(ngModel)]="imgtest" (change)="handleFileInput($event)">
                                {{imgtest}}
                            <button (click)="updatePhoto()"><mat-icon>add_a_photo</mat-icon></button>
                            




                            <div class="mt-0 mt-sm-5">
                                <h2>{{user.first_name}} {{user.last_name}}</h2>
                                <p class="fw-semibold text-gray mb-0">UI Designer</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 gap-sm-3 flex-wrap">
                            <div>
                                <a href="#" data-bs-toggle="dropdown" class="fs-24 text-gray">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu p-0">
                                    <a class="dropdown-item" href="profile.html">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <a class="dropdown-item text-danger" href="#">Logout</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xxl-8 col-lg-8 mb-5 mb-lg-0">
                            <h4>About Me</h4>
                            <p class="fs-14 text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </p>
                            <p class="fs-14 text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a href="#" class="text-primary ff-heading fs-14 fw-bold">Read More</a>

                            <h4 class="mt-7 mb-5">Experience</h4>
                            <div class="d-flex justify-content-between gap-5">
                                <div class="experience">
                                    <div class="d-flex align-items-center gap-4 mb-4">
                                        <div>
                                            <img src="assets/img/clients/1.jpg" alt="img" width="48" height="48"
                                                class="rounded-1">
                                        </div>
                                        <div>
                                            <h5 class="mb-0">Kleon Studio.</h5>
                                            <p class="fs-14 text-gray mb-0">June 2020 - Present</p>
                                        </div>
                                    </div>

                                    <h6>Senior UI Designer</h6>
                                    <p class="fs-14 text-gray mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience">
                                    <div class="d-flex align-items-center gap-4 mb-4">
                                        <div>
                                            <img src="assets/img/clients/3.jpg" alt="img" width="48" height="48"
                                                class="rounded-1">
                                        </div>
                                        <div>
                                            <h5 class="mb-0">Portu Studio</h5>
                                            <p class="fs-14 text-gray mb-0">June 2019 - May 2020</p>
                                        </div>
                                    </div>
                                    <h6>UI Designer</h6>
                                    <p class="fs-14 text-gray mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-lg-4">
                            <div>
                                <h4>Contact</h4>
                                <ul class="list-unstyled d-flex flex-wrap gap-4">
                                    <li>
                                        <label class="fs-14 text-gray mb-1">Phone</label>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="candidate--contact-icon bg-soft-primary text-center">
                                                <i class="bi bi-telephone-fill"></i>
                                            </div>
                                            <div class="fs-14 fw-semibold"><a href="tel:+12 345 6789 0"
                                                    class="text-dark">+12 345 6789 0</a></div>
                                        </div>
                                    </li>

                                    <li>
                                        <label class="fs-14 text-gray mb-1">Email</label>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="candidate--contact-icon bg-soft-primary text-center">
                                                <i class="bi bi-envelope-fill"></i>
                                            </div>
                                            <div class="fs-14 fw-semibold"><a href="mailto:angelamoss@mail.com"
                                                    class="text-dark">angelamoss@mail.com</a></div>
                                        </div>
                                    </li>

                                    <li>
                                        <label class="fs-14 text-gray mb-1">Portfolio</label>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="candidate--contact-icon bg-soft-primary text-center">
                                                <i class="bi bi-globe"></i>
                                            </div>
                                            <div class="fs-14 fw-semibold"><a href="#"
                                                    class="text-dark">www.website.com</a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <div class="mt-9 mb-5">
                                <h4>Documents</h4>
                                <div class="d-flex align-items-center gap-3 p-0 mb-5">
                                    <div class="bg-soft-primary p-3 rounded-1">
                                        <img src="assets/img/svg/folder-primary.svg" alt="img">
                                    </div>
                                    <div>
                                        <h6 class="fw-semibold lh-20">Cover letter.pdf</h6>
                                        <p class="fs-14 text-gray mb-0">1.0 MB</p>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="#" class="ff-heading fs-14 fw-bold text-primary"> <i
                                                class="bi bi-download"></i> Download File</a>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center gap-3 p-0 mb-5">
                                    <div class="bg-soft-info p-3 rounded-1">
                                        <img src="assets/img/svg/folder-info.svg" alt="img">
                                    </div>
                                    <div>
                                        <h6 class="fw-semibold lh-20">Resume.pdf</h6>
                                        <p class="fs-14 text-gray mb-0">1.0 MB</p>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="#" class="ff-heading fs-14 fw-bold text-primary"> <i
                                                class="bi bi-download"></i> Download File</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    var m = document.getElementById("v");
    var can = document.getElementById("c");
    function fGo() {
        var mohsen = { video: true, audio: false };
        navigator.mediaDevices.getUserMedia(mohsen).then(f1).catch(f2)
    }
    function f1(x) {
        m.srcObject = x;
        m.play();
    }
    function f2(e) {
        alert("e.message");
    }
    function filtre() {
        m.style.filter = "grayscale(100%)";
    }
    function copie() {
        var ctx = can.getContext("2d");
        ctx.drawImage(m, 0, 0, 100, 100);
    }
</script>