<body>

<main class="main-wrapper">
    <div class="container-fluid">
        <div class="inner-contents">
            <div class="page-header d-flex align-items-center justify-content-between mr-bottom-30">
                <div class="left-part">
                    <h2 class="text-dark">Employees</h2>
                    <p class="text-gray mb-0">Lorem ipsum  dolor sit amet </p>
                </div>
                <div class="right-part d-flex align-items-center">
                    <form class="search-form w-auto" action="https://wpthemebooster.com/demo/themeforest/html/kleon/search.php">
                        <input type="text" name="search" class=" bg-white form-control" placeholder="Search">
                        <button type="submit" class="btn"><img src="assets/img/svg/search.svg" alt=""></button>
                    </form>
                    <div class="filtering d-flex align-items-center gap-3 ms-3">
                        <a href="#" class="btn list-view p-0 fs-30"><i class="bi bi-list"></i></a>
                        <a href="#" class="btn grid-view p-0 fs-30 active"><i class="bi bi-grid"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-3 col-lg-6">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-4 flex-wrap">
                                <div class="avatar-img avatar-xl rounded-2 overflow-hidden flex-shrink-0">
                                    <img src="assets/img/1.jpg" alt="img" class="w-100"/>
                                </div>
                                <div class="card-content">
                                    <h5 class="mb-1">Samantha William</h5>
                                    <small class="d-inline-block text-gray fs-14 fw-normal">Web Developer</small>
                                </div>
                            </div>

                            <p class="d-flex align-items-center justify-content-between fs-14 fw-semibold text-black mt-4 flex-wrap">
                                <span><i class="text-primary bi bi-telephone-fill me-2"></i><span>+12 345 6789 0</span></span>
                                <span><i class="text-primary bi bi-envelope-fill me-2"></i><span>email@mail.com</span></span>
                            </p>

                            <hr />

                            <div class="d-flex justify-content-between gap-3 flex-wrap">
                                <div class="bg-light-200 rounded-1 flex-grow-1 p-3 d-flex flex-column justify-content-center">
                                    <small class="d-inline-block text-gray mb-2">Attendance</small>
                                    <h4 class="mb-0">150 <small class="d-inline-block text-gray ff-base fs-14 fw-normal">Days</small></h4>
                                </div>
                                <div class="bg-light-200 rounded-1 flex-grow-1 p-3 d-flex flex-column justify-content-center">
                                    <small class="d-inline-block text-gray mb-2">Percentage</small>
                                    <h4 class="mb-0"><span class="pie" data-peity='{ "fill": ["#924AEF", "#F5F5F5"], "radius": 24 }'>3/4</span><span class="ff-heading fs-24 fw-bold text-dark ms-1">75%</span></h4>
                                </div>
                            </div>

                            <div class="mt-5">
                                <h5 class="mb-2 mb-sm-4">Leave balance</h5>
                                <div class="row row-cols-md-4">
                                    <div class="col pe-0">
                                        <h5 class="mb-0">15<small class="ff-base fs-14 fw-normal text-gray">/8hr</small></h5>
                                        <small class="fs-12 text-gray">Personal</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">5<small class="ff-base fs-14 fw-normal text-gray">/21hr</small></h5>
                                        <small class="fs-12 text-gray">Sick</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">7<small class="ff-base fs-14 fw-normal text-gray">/30hr</small></h5>
                                        <small class="fs-12 text-gray">Vacation</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">21<small class="ff-base fs-14 fw-normal text-gray">/12hr</small></h5>
                                        <small class="fs-12 text-gray">Annual</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-lg-6">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-4 flex-wrap">
                                <div class="avatar-img avatar-xl rounded-2 overflow-hidden flex-shrink-0">
                                    <img src="assets/img/2.jpg" alt="img" class="w-100"/>
                                </div>
                                <div class="card-content">
                                    <h5 class="mb-1">Jordan Nico</h5>
                                    <small class="d-inline-block text-gray fs-14 fw-normal">UI Designer</small>
                                </div>
                            </div>

                            <p class="d-flex align-items-center justify-content-between fs-14 fw-semibold text-black mt-4 flex-wrap">
                                <span><i class="text-primary bi bi-telephone-fill me-2"></i><span>+12 345 6789 0</span></span>
                                <span><i class="text-primary bi bi-envelope-fill me-2"></i><span>email@mail.com</span></span>
                            </p>

                            <hr />

                            <div class="d-flex justify-content-between gap-3 flex-wrap">
                                <div class="bg-light-200 rounded-1 flex-grow-1 p-3 d-flex flex-column justify-content-center">
                                    <small class="d-inline-block text-gray mb-2">Attendance</small>
                                    <h4 class="mb-0">150 <small class="d-inline-block text-gray ff-base fs-14 fw-normal">Days</small></h4>
                                </div>
                                <div class="bg-light-200 rounded-1 flex-grow-1 p-3 d-flex flex-column justify-content-center">
                                    <small class="d-inline-block text-gray mb-2">Percentage</small>
                                    <h4 class="mb-0"><span class="pie" data-peity='{ "fill": ["#924AEF", "#F5F5F5"], "radius": 24 }'>2/4</span><span class="ff-heading fs-24 fw-bold text-dark ms-1">50%</span></h4>
                                </div>
                            </div>

                            <div class="mt-5">
                                <h5 class="mb-2 mb-sm-4">Leave balance</h5>
                                <div class="row row-cols-md-4">
                                    <div class="col pe-0">
                                        <h5 class="mb-0">15<small class="ff-base fs-14 fw-normal text-gray">/8hr</small></h5>
                                        <small class="fs-12 text-gray">Personal</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">5<small class="ff-base fs-14 fw-normal text-gray">/21hr</small></h5>
                                        <small class="fs-12 text-gray">Sick</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">7<small class="ff-base fs-14 fw-normal text-gray">/30hr</small></h5>
                                        <small class="fs-12 text-gray">Vacation</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">21<small class="ff-base fs-14 fw-normal text-gray">/12hr</small></h5>
                                        <small class="fs-12 text-gray">Annual</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-lg-6">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-4 flex-wrap">
                                <div class="avatar-img avatar-xl rounded-2 overflow-hidden flex-shrink-0">
                                    <img src="assets/img/3.jpg" alt="img" class="w-100"/>
                                </div>
                                <div class="card-content">
                                    <h5 class="mb-1">Nadila Adja</h5>
                                    <small class="d-inline-block text-gray fs-14 fw-normal">Project Manager</small>
                                </div>
                            </div>

                            <p class="d-flex align-items-center justify-content-between fs-14 fw-semibold text-black mt-4 flex-wrap">
                                <span><i class="text-primary bi bi-telephone-fill me-2"></i><span>+12 345 6789 0</span></span>
                                <span><i class="text-primary bi bi-envelope-fill me-2"></i><span>email@mail.com</span></span>
                            </p>

                            <hr />

                            <div class="d-flex justify-content-between gap-3 flex-wrap">
                                <div class="bg-light-200 rounded-1 flex-grow-1 p-3 d-flex flex-column justify-content-center">
                                    <small class="d-inline-block text-gray mb-2">Attendance</small>
                                    <h4 class="mb-0">150 <small class="d-inline-block text-gray ff-base fs-14 fw-normal">Days</small></h4>
                                </div>
                                <div class="bg-light-200 rounded-1 flex-grow-1 p-3 d-flex flex-column justify-content-center">
                                    <small class="d-inline-block text-gray mb-2">Percentage</small>
                                    <h4 class="mb-0"><span class="pie" data-peity='{ "fill": ["#924AEF", "#F5F5F5"], "radius": 24 }'>8/10</span><span class="ff-heading fs-24 fw-bold text-dark ms-1">80%</span></h4>
                                </div>
                            </div>

                            <div class="mt-5">
                                <h5 class="mb-2 mb-sm-4">Leave balance</h5>
                                <div class="row row-cols-md-4">
                                    <div class="col pe-0">
                                        <h5 class="mb-0">15<small class="ff-base fs-14 fw-normal text-gray">/8hr</small></h5>
                                        <small class="fs-12 text-gray">Personal</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">5<small class="ff-base fs-14 fw-normal text-gray">/21hr</small></h5>
                                        <small class="fs-12 text-gray">Sick</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">7<small class="ff-base fs-14 fw-normal text-gray">/30hr</small></h5>
                                        <small class="fs-12 text-gray">Vacation</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">21<small class="ff-base fs-14 fw-normal text-gray">/12hr</small></h5>
                                        <small class="fs-12 text-gray">Annual</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-lg-6">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-4 flex-wrap">
                                <div class="avatar-img avatar-xl rounded-2 overflow-hidden flex-shrink-0">
                                    <img src="assets/img/4.jpg" alt="img" class="w-100"/>
                                </div>
                                <div class="card-content">
                                    <h5 class="mb-1">Tony Soap</h5>
                                    <small class="d-inline-block text-gray fs-14 fw-normal">UX Researcher</small>
                                </div>
                            </div>

                            <p class="d-flex align-items-center justify-content-between fs-14 fw-semibold text-black mt-4 flex-wrap">
                                <span><i class="text-primary bi bi-telephone-fill me-2"></i><span>+12 345 6789 0</span></span>
                                <span><i class="text-primary bi bi-envelope-fill me-2"></i><span>email@mail.com</span></span>
                            </p>

                            <hr />

                            <div class="d-flex justify-content-between gap-3 flex-wrap">
                                <div class="bg-light-200 rounded-1 flex-grow-1 p-3 d-flex flex-column justify-content-center">
                                    <small class="d-inline-block text-gray mb-2">Attendance</small>
                                    <h4 class="mb-0">150 <small class="d-inline-block text-gray ff-base fs-14 fw-normal">Days</small></h4>
                                </div>
                                <div class="bg-light-200 rounded-1 flex-grow-1 p-3 d-flex flex-column justify-content-center">
                                    <small class="d-inline-block text-gray mb-2">Percentage</small>
                                    <h4 class="mb-0"><span class="pie" data-peity='{ "fill": ["#924AEF", "#F5F5F5"], "radius": 24 }'>1/4</span><span class="ff-heading fs-24 fw-bold text-dark ms-1">25%</span></h4>
                                </div>
                            </div>

                            <div class="mt-5">
                                <h5 class="mb-2 mb-sm-4">Leave balance</h5>
                                <div class="row row-cols-md-4">
                                    <div class="col pe-0">
                                        <h5 class="mb-0">15<small class="ff-base fs-14 fw-normal text-gray">/8hr</small></h5>
                                        <small class="fs-12 text-gray">Personal</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">5<small class="ff-base fs-14 fw-normal text-gray">/21hr</small></h5>
                                        <small class="fs-12 text-gray">Sick</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">7<small class="ff-base fs-14 fw-normal text-gray">/30hr</small></h5>
                                        <small class="fs-12 text-gray">Vacation</small>
                                    </div>
                                    <div class="col pe-0">
                                        <h5 class="mb-0">21<small class="ff-base fs-14 fw-normal text-gray">/12hr</small></h5>
                                        <small class="fs-12 text-gray">Annual</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="my-5 mt-2 d-flex justify-content-center justify-content-sm-between align-items-center flex-wrap gap-2">
                <p>Showing <span class="fw-bold">1-10</span> from <span class="fw-bold">46</span> data</p>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    </ul>
                </nav>                    
            </div>
        
            
            <div class="card border-0 p-5">
                <div class="card-header pb-5 bg-transparent border-0 d-flex align-items-center justify-content-between gap-3">
                    <h4 class="mb-0">Employee Info</h4>
                    <div class="ms-auto d-flex align-items-center gap-3">
                        <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="fs-24 text-gray">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu p-0">
                                <a class="dropdown-item" href="#">View</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item text-danger" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table id="table-2" class="display text-center">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                    </th>
                                    <th>Employee</th>
                                    <th>Role</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Join Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                    </td>
                                    <td>
                                        <div class="employee d-flex gap-2 flex-wrap">
                                            <div class="profilepicture flex-shrink-0 d-none d-xl-block">
                                                <img src="assets/img/1.jpg" alt="img" width="60">
                                            </div>
                                            <div class="description">
                                                <h6 class="mb-0">Samantha William</h6>
                                                <small>wills@mail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>UI Designer</td>
                                    <td>Product Design</td>
                                    <td>
                                        <span class="badge badge-soft-success">
                                        <i class="bi bi-check"></i> Active</span>
                                    </td>
                                    <td>June 1, 2020</td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="fs-24 text-gray">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu p-0">
                                                <a class="dropdown-item" href="#">View</a>
                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                <td>
                                    <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                </td>
                                <td>
                                    <div class="employee d-flex gap-3">
                                        <div class="profilepicture">
                                            <img src="assets/img/2.jpg" alt="img" width="60">
                                        </div>
                                        <div class="description">
                                            <h6 class="mb-0">Jordan Nico</h6>
                                            <small>nico@mail.com</small>
                                        </div>
                                    </div>
                                </td>
                                <td>Web Developer</td>
                                <td>Programmer</td>
                                <td>
                                    <span class="badge badge-soft-warning">
                                    <i class="bi bi-clock"></i> Paid Leave</span>
                                </td>
                                <td>June 1, 2020</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24 text-gray">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                </tr>

                                <tr>
                                <td>
                                    <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                </td>
                                <td>
                                    <div class="employee d-flex gap-3">
                                        <div class="profilepicture">
                                            <img src="assets/img/3.jpg" alt="img" width="60">
                                        </div>
                                        <div class="description">
                                            <h6 class="mb-0">Nadila Adja</h6>
                                            <small>adja@mail.com</small>
                                        </div>
                                    </div>
                                </td>
                                <td>Project Manager</td>
                                <td>Human Resource</td>
                                <td>
                                    <span class="badge badge-soft-info">
                                    <i class="bi bi-check-all"></i> Standby</span>
                                </td>
                                <td>June 1, 2020</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24 text-gray">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                </tr>

                                <tr>
                                <td>
                                    <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                </td>
                                <td>
                                    <div class="employee d-flex gap-3">
                                        <div class="profilepicture">
                                            <img src="assets/img/4.jpg" alt="img" width="60">
                                        </div>
                                        <div class="description">
                                            <h6 class="mb-0">Tony Soap</h6>
                                            <small>soap@mail.com</small>
                                        </div>
                                    </div>
                                </td>
                                <td>UX Researcher</td>
                                <td>Product Design</td>
                                <td>
                                    <span class="badge badge-soft-success">
                                    <i class="bi bi-check"></i> Active</span>
                                </td>
                                <td>June 1, 2020</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24 text-gray">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                </tr>

                                <tr>
                                <td>
                                    <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                </td>
                                <td>
                                    <div class="employee d-flex gap-3">
                                        <div class="profilepicture">
                                            <img src="assets/img/5.jpg" alt="img" width="60">
                                        </div>
                                        <div class="description">
                                            <h6 class="mb-0">Samantha William</h6>
                                            <small>wills@mail.com</small>
                                        </div>
                                    </div>
                                </td>
                                <td>UI Designer</td>
                                <td>Engineering</td>
                                <td>
                                    <span class="badge badge-soft-danger">
                                    <i class="bi bi-x"></i> Cancel</span>
                                </td>
                                <td>June 1, 2020</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24 text-gray">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                    </td>
                                    <td>
                                        <div class="employee d-flex gap-2 flex-wrap">
                                            <div class="profilepicture flex-shrink-0 d-none d-xl-block">
                                                <img src="assets/img/6.jpg" alt="img" width="60">
                                            </div>
                                            <div class="description">
                                                <h6 class="mb-0">Jordan Nico</h6>
                                                <small>nico@mail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Web Developer</td>
                                    <td>Programmer</td>
                                    <td>
                                        <span class="badge badge-soft-info">
                                        <i class="bi bi-check-all"></i> Standby</span>
                                    </td>
                                    <td>June 1, 2020</td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="fs-24 text-gray">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu p-0">
                                                <a class="dropdown-item" href="#">View</a>
                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</main>

<script src="../../../../assets/assets_FrontOffice/assets/js/theme.js"></script>
<script src="../../../../assets/assets_FrontOffice/plugins/apexchart/apexcharts.min.js"></script>
<script src="../../../../assets/assets_FrontOffice/plugins/apexchart/apexchart-inits/apexcharts-analytics-2.js"></script>
</body>



