
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <!-- Profile Image -->
                <img src="https://example.com/your-profile-image.jpg" alt="Profile Image" class="img-fluid rounded-circle mb-4" style="width: 200px; height: 200px;">
                <!-- Description -->
                <p class="lead">This is a description about you. You can write a brief introduction or any information you want to share.</p>
            </div>
        </div>
    </div>

