<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <!-- Toggle Button for Responsive Sidebar -->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
                <i class="fas fa-bars"></i>
            </button>
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" routerLink="/dashboard">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">Teams</div>
            <a class="nav-link" routerLink="/back-add-team">
                <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                Add Team
            </a>
            <a class="nav-link" routerLink="/back-show-team">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Show Teams
            </a>
            <!-- Similarly, add other links -->
            <a class="nav-link" routerLink="/dashboard-team">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                Team Dashboard
            </a>

            <div class="sb-sidenav-menu-heading">Claims</div>
            <a class="nav-link" routerLink="/back-show-claim">
                <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                Show Claims
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>
