
<main class="main-wrapper">
    <div class="container-fluid">
        <div class="inner-contents">
            <button type="button" class="btn btn-primary btn-lg rounded-pill" (click)="navigateToEstimate()">
                start estimating <i class="bi bi-arrow-up-right-square-fill ms-1"></i>
              </button>
              
<!-- <button type="button" class="btn btn-primary btn-lg rounded-pill">start estimating <i class="bi bi-arrow-up-right-square-fill ms-1"></i></button> -->
        </div></div></main>