<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
      .image-cell {
        width: 100px;
        height: 0;
        padding-bottom: 100%; /* Maintain aspect ratio */
        position: relative;
      }
      .image-cell img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the image covers the entire cell */
      }
    </style>
</head>
<body> 
  
  <main>
    <div class="container-fluid px-4">
      <h2 class="post-title">List of User Posts </h2>
      
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"></li>
      </ol>
      
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" [(ngModel)]="searchKeyword" name="searchKeyword">
          <button class="" id="btnNavbarSearch" type="" (click)="searchPosts()"><i class="fas fa-search"></i></button>
        </div>
      </form>
      <div >
        <table class="datatable-table">
          <thead>
            <tr>
              <th>Content</th>
              <th>Creation Date</th>
              <th>Image</th>
              <th>Title</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of userPosts">           
           <td>{{ post.content }}</td>
              <td>{{ post.creationDate }}</td>
              <td>
                <div class="image-cell">

                  <img *ngIf="post.imageSrc" [src]="post.imageSrc" alt="Post Image">

                    
                    
                  
                </div>
              </td>
              <td>{{ post.title }}</td>
              
              <td>
                <button class="btn" (click)="removePost(post.id)"><i class="fa fa-trash"></i></button>                
                 <!-- <button class=""  (click)="removePost(post.id)">Remove</button>  -->
                <button class="btn" (click)="modifyPost(post.id)"><i class="fa fa-pencil"></i></button>
                <!-- <button class="" (click)="modifyPost(post.id)">Modify</button> -->
                <!-- <button class="" (click)="addPost()">Add Post</button> -->
                <button class="btn" (click)="addPost()"><i class="fa fa-plus"></i></button>

                <!-- <button (click)="likePost(post.id, userId)">J'aime</button> -->
              </td>
            </tr>
          </tbody>
        </table>
       
      </div>
      
      
      
      
    </div>
  </main>
 
</body>
</html>