<div class="row">
    <div class="col-4"><router-outlet></router-outlet></div>
    <div class="col-12">


        <div class="mb-6 text-md-end">
            <!-- Classic Tab -->
            <ul class="nav nav-tabs mb-0 justify-content-start justify-content-md-end" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab-7" data-bs-toggle="tab" role="tab">Tests List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-8" data-bs-toggle="tab" role="tab">Import a test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-9" data-bs-toggle="tab" role="tab">Add a test</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-7" role="tabpanel">
                <div class="row">
                    <div *ngFor="let t of tests" class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-0">
                                    <div class="card-content">
                                        <img src="{{t.image}}" alt="" width="100">
                                        <h6 class="fw-semibold text-gray mb-1">Title</h6>
                                        <h4 class="text-dark mb-1">{{t.title}}</h4>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" (click)="active(t.id)">Active/Inactive</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <h5 class="text-primary mb-3">$1000 - $2000</h5> -->
                                <div>
                                    <h6 class="fw-semibold text-gray mb-1">Description</h6>
                                    <p class="fs-14 text-dark">{{t.description}}</p>
                                </div>
                                <div *ngIf="t.active==true" class="badge py-3 px-5 rounded-1 badge-soft-success ff-heading fs-14 fw-bold">
                                    Active</div>
                                    <div *ngIf="t.active==false" class="badge py-3 px-5 rounded-1 badge-soft-danger ff-heading fs-14 fw-bold">
                                        is closed</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="tab-pane fade" id="tab-8" role="tabpanel">
                <div class="row">

                    <app-importquiz></app-importquiz>
                    

                </div>
            </div>

            <div class="tab-pane fade" id="tab-9" role="tabpanel">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-0">
                                    <div class="card-content">
                                        <h6 class="fw-semibold text-gray mb-1">Position</h6>
                                        <h4 class="text-dark mb-1">UI Designer</h4>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center gap-4 fs-14 text-gray mb-4">
                                    <span class="job-type">Fulltime</span>
                                    <span class="flex-shrink-0 bg-gray rounded-circle"
                                        style="width: 6px; height: 6px;"></span>
                                    <span class="country">Indonesia</span>
                                </div>
                                <h5 class="text-primary mb-3">$1000 - $2000</h5>

                                <!-- Middle Content -->
                                <div>
                                    <h6 class="fw-semibold text-gray mb-1">Recruiments</h6>
                                    <p class="fs-14 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="badge py-3 px-5 rounded-1 badge-soft-success ff-heading fs-14 fw-bold">
                                    Completed</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-0">
                                    <div class="card-content">
                                        <h6 class="fw-semibold text-gray mb-1">Position</h6>
                                        <h4 class="text-dark mb-1">UX Researcher</h4>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center gap-4 fs-14 text-gray mb-4">
                                    <span class="job-type">Fulltime</span>
                                    <span class="flex-shrink-0 bg-gray rounded-circle"
                                        style="width: 6px; height: 6px;"></span>
                                    <span class="country">Indonesia</span>
                                </div>
                                <h5 class="text-primary mb-3">$1000 - $2000</h5>

                                <!-- Middle Content -->
                                <div>
                                    <h6 class="fw-semibold text-gray mb-1">Recruiments</h6>
                                    <p class="fs-14 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="badge py-3 px-5 rounded-1 badge-soft-primary ff-heading fs-14 fw-bold">
                                    Active</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-0">
                                    <div class="card-content">
                                        <h6 class="fw-semibold text-gray mb-1">Front-End Dev.</h6>
                                        <h4 class="text-dark mb-1">Front-End Dev.</h4>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center gap-4 fs-14 text-gray mb-4">
                                    <span class="job-type">Fulltime</span>
                                    <span class="flex-shrink-0 bg-gray rounded-circle"
                                        style="width: 6px; height: 6px;"></span>
                                    <span class="country">Indonesia</span>
                                </div>
                                <h5 class="text-primary mb-3">$1000 - $2000</h5>

                                <!-- Middle Content -->
                                <div>
                                    <h6 class="fw-semibold text-gray mb-1">Recruiments</h6>
                                    <p class="fs-14 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="badge py-3 px-5 rounded-1 badge-soft-success ff-heading fs-14 fw-bold">
                                    Completed</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-0">
                                    <div class="card-content">
                                        <h6 class="fw-semibold text-gray mb-1">Position</h6>
                                        <h4 class="text-dark mb-1">Back-End Dev.</h4>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center gap-4 fs-14 text-gray mb-4">
                                    <span class="job-type">Fulltime</span>
                                    <span class="flex-shrink-0 bg-gray rounded-circle"
                                        style="width: 6px; height: 6px;"></span>
                                    <span class="country">Indonesia</span>
                                </div>
                                <h5 class="text-primary mb-3">$1000 - $2000</h5>

                                <!-- Middle Content -->
                                <div>
                                    <h6 class="fw-semibold text-gray mb-1">Recruiments</h6>
                                    <p class="fs-14 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="badge py-3 px-5 rounded-1 badge-soft-success ff-heading fs-14 fw-bold">
                                    Completed</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-0">
                                    <div class="card-content">
                                        <h6 class="fw-semibold text-gray mb-1">Position</h6>
                                        <h4 class="text-dark mb-1">Graphic Designer</h4>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center gap-4 fs-14 text-gray mb-4">
                                    <span class="job-type">Fulltime</span>
                                    <span class="flex-shrink-0 bg-gray rounded-circle"
                                        style="width: 6px; height: 6px;"></span>
                                    <span class="country">Indonesia</span>
                                </div>
                                <h5 class="text-primary mb-3">$1000 - $2000</h5>

                                <!-- Middle Content -->
                                <div>
                                    <h6 class="fw-semibold text-gray mb-1">Recruiments</h6>
                                    <p class="fs-14 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="badge py-3 px-5 rounded-1 badge-soft-danger ff-heading fs-14 fw-bold">
                                    Cancelled</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-0">
                                    <div class="card-content">
                                        <h6 class="fw-semibold text-gray mb-1">Position</h6>
                                        <h4 class="text-dark mb-1">Project Manager</h4>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center gap-4 fs-14 text-gray mb-4">
                                    <span class="job-type">Fulltime</span>
                                    <span class="flex-shrink-0 bg-gray rounded-circle"
                                        style="width: 6px; height: 6px;"></span>
                                    <span class="country">Indonesia</span>
                                </div>
                                <h5 class="text-primary mb-3">$1000 - $2000</h5>

                                <!-- Middle Content -->
                                <div>
                                    <h6 class="fw-semibold text-gray mb-1">Recruiments</h6>
                                    <p class="fs-14 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="badge py-3 px-5 rounded-1 badge-soft-success ff-heading fs-14 fw-bold">
                                    Completed</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-0">
                                    <div class="card-content">
                                        <h6 class="fw-semibold text-gray mb-1">Position</h6>
                                        <h4 class="text-dark mb-1">Finance Staff</h4>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center gap-4 fs-14 text-gray mb-4">
                                    <span class="job-type">Fulltime</span>
                                    <span class="flex-shrink-0 bg-gray rounded-circle"
                                        style="width: 6px; height: 6px;"></span>
                                    <span class="country">Indonesia</span>
                                </div>
                                <h5 class="text-primary mb-3">$1000 - $2000</h5>

                                <!-- Middle Content -->
                                <div>
                                    <h6 class="fw-semibold text-gray mb-1">Recruiments</h6>
                                    <p class="fs-14 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="badge py-3 px-5 rounded-1 badge-soft-success ff-heading fs-14 fw-bold">
                                    Completed</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-0">
                                    <div class="card-content">
                                        <h6 class="fw-semibold text-gray mb-1">Position</h6>
                                        <h4 class="text-dark mb-1">HRD Staff</h4>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="fs-24">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu p-0">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center gap-4 fs-14 text-gray mb-4">
                                    <span class="job-type">Fulltime</span>
                                    <span class="flex-shrink-0 bg-gray rounded-circle"
                                        style="width: 6px; height: 6px;"></span>
                                    <span class="country">Indonesia</span>
                                </div>
                                <h5 class="text-primary mb-3">$1000 - $2000</h5>

                                <!-- Middle Content -->
                                <div>
                                    <h6 class="fw-semibold text-gray mb-1">Recruiments</h6>
                                    <p class="fs-14 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="badge py-3 px-5 rounded-1 badge-soft-gray ff-heading fs-14 fw-bold">Draft
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>