
  ::ng-deep .custom-style {
    position: fixed;
  top: 20px; /* Adjust to move up */
  right: 20px; /* Adjust for horizontal alignment */
  z-index: 1000; /* Ensure it is on top of other content */
  background-color: green; /* Background color */
  color: white; /* Text color */
  padding: 16px; /* Padding inside the snackbar */
 }
 